AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
S3_ENDPOINT_URL=
S3_BUCKET=featback1
AWS_DEFAULT_REGION=us-east-1
DB_KIND=redshift
REDSHIFT_ENDPOINT=
AWS_USERNAME=
AWS_PASSWORD=
IAM_ROLE=
POSTGRES_HOST=postgres
POSTGRES_DB=featback
POSTGRES_USER=featback
POSTGRES_PASSWORD=featback
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_CLIENT_AGENT=featback/1.0
OPENAI_API_KEY=
MLFLOW_TRACKING_URI=http://mlflow:5000
AIRFLOW_UID=501
AIRFLOW_GID=20
